<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>

    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-finaltest-20211115100928.mdf;Initial Catalog=aspnet-finaltest-20211115100928;Integrated Security=True"
     providerName="System.Data.SqlClient" />

    <!-- This will allow us to connect to a server at a remote location -->
    <!-- Current Issue: unable to connect using SMSS -->

    <!-- <add name="DefaultConnection"
         connectionString="Server=.\SQLEXPRESS; Database=ContactWeb472; Trusted_Connection=true; multipleActiveResultSets=true"
         providerName="System.Data.SqlClient"/>-->

  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>
