<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>

    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-finaltest-20211115100928.mdf;Initial Catalog=aspnet-finaltest-20211115100928;Integrated Security=True"
     providerName="System.Data.SqlClient" />

    <!-- This will allow a connection to a server at a remote location -->
 
    <add name="DefaultConnection"
    connectionString="Server=2092c173-a44d-4581-8fbd-ade201649be5.sqlserver.sequelizer.com;
    Database=db2092c173a44d45818fbdade201649be5;
    User ID=yvevntqnkqkqjpfv;
    Password=xH5NBFLnY2Ky7vJXRZheu7ipRgmv4h85gMCvDzJzo7cNjoFddK6DDhDyzP5utqsQ;"
    providerName="System.Data.SqlClient"
    xdt:Transform="SetAttributes"
    xdt:Locator="Match(name)"/>
    
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>
